<div class="row">
  <div class="col-xs-12">
    <h2>New Assignment: </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-crud-assignment></app-crud-assignment>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Existing Assignments:</h2>
  </div>
</div>
<div class='row'>
  <div class="col-xs-4">
    <app-select-cohort></app-select-cohort>
  </div>
</div> <br/>
<div class="row">
  <div class="col-xs-12">
    <app-assignment-list></app-assignment-list>
  </div>
</div>