<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ng-template [ngIf]="authService.isAuthenticated()">
          <a routerLink="/home"><img class="logo" src="./assets/EFA-Logo.png" alt="Image Not Found" /></a>
          <a class="navbar-brand" routerLink="/home">Student Portal</a>
      </ng-template>
      <ng-template [ngIf]="!authService.isAuthenticated()">
          <a routerLink="/login"><img class="logo" src="./assets/EFA-Logo.png" alt="Image Not Found" /></a>
          <a class="navbar-brand" routerLink="/login">Student Portal</a>
      </ng-template>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/create-assignments">Create Assignments</a></li>
          <li class="dropdown" appDropdown>
              <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button">Cohorts <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/home">Javascript - August 2k17</a></li>
                <li><a routerLink="/home">.Net Course - October 2k17</a></li>
                <li><a routerLink="/home">Nathan has 0 commits - Everyday 2k17</a></li>
                <li><a routerLink="/home">Aaron and Tom do all of the work 2k17</a></li>
                <li><a routerLink="/home">Nathan will make the video by himself 2k17</a></li>
              </ul>
            </li>
        </ng-template>
        <!-- <ng-template [ngIf]="authService.isAdminAuthenticated()">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/create-assignments">Create Assignments</a></li>
          <li class="dropdown" appDropdown>
              <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button">Cohorts <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/home">Javascript - August 2k17</a></li>
                <li><a routerLink="/home">.Net Course - October 2k17</a></li>
                <li><a routerLink="/home">Nathan has 0 commits - Everyday 2k17+</a></li>
                <li><a routerLink="/home">Aaron and Tom do all of the work 2k17</a></li>
                <li><a routerLink="/home">Nathan will make the video by himself 2k17</a></li>
              </ul>
            </li>
        </ng-template> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/login">Login</a></li>
        </ng-template>
        <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>