<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#home"><img class="logo" src="./assets/EFA-Logo.png" alt="Image Not Found" /></a>
        <a class="navbar-brand" href="#home">Student Portal</a>
      </div>
      <ul class="nav navbar-nav">

        <li><a href="#home">Home</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> Admin Login</a></li>
        <li><a href="#"> Student Login</a></li>
      </ul>
    </div>
  </nav>