<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/home" (click)="onSelect('home')"><img class="logo" src="./assets/EFA-Logo.png" alt="Image Not Found" /></a>
      <a class="navbar-brand" routerLink="/home" (click)="onSelect('home')">Student Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" (click)="onSelect('home')">Home</a></li>
      <li><a routerLink="/create-assignments" (click)="onSelect('create-assignment')">Create Assignments</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login" (click)="onSelect('login')">Login</a></li>
    </ul>
  </div>
</nav>