.navbar {
    border-radius: 0%;
    background-color: #e24a52;
    color: white;
    border: 1px solid #e24a52;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    height: 50px;
    width: 40px;
    float: left;
    margin: 0;
}

img.logo{
    margin-right: 20px;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: black;
}

.navbar-inverse, .navbar-nav>li>a {
    color: white !important;
}

.navbar-inverse, .navbar-nav>li>a:hover{
    color: black !important;
}