<div class="modal fade" id="assignmentDetailModal" role="dialog">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ assignment.name }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <h4>Description Link: </h4>
              <a href="{{ assignment.description }}" target="blank">Link to assignment description</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Due:</h4>
              <h5>{{ assignment.due }}</h5>
            </div>
          </div>
        
          <div class="row">
            <div class="col-xs-12">
              <h4>Completed Assignments:</h4>
              <hr>
              <div *ngFor='let completion of completedAssignments'>
                <h5>{{ completion.studentFName }} {{ completion.studentLName }}</h5>
                <!-- <p>{{ completion.submission }}</p>                 -->
               <a target='blank' href='{{ completion.submission }}'>Submission</a>
               <hr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="upload">Upload Assignment:</label>
              <input 
                id="upload" 
                name='upload' 
                type="text"
                ngModel
              >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button 
            type="submit" 
            class="btn btn-default" 
            style="border: 2px solid #e24a52"
          >Submit</button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
          >Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>