<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="fname">First Name:</label>
          <input 
            type="text" 
            id="fname"
            class="form-control"
            name="fname"
            ngModel
            required
          >
        </div>
        <div class="col-sm-3 form-group">
          <label for="lname">Last Name:</label>
          <input 
            type="text" 
            id="lname"
            class="form-control"
            name="lname"
            ngModel
            required
          >
        </div>
        <div class="col-sm-3 form-group">
          <label for="email">Student Email:</label>
          <input 
            type="email" 
            id="email"
            class="form-control"
            name="email"
            ngModel
            required
          >
        </div>
        <div class="col-sm-3 form-group">
          <label for="password">Student Password:</label>
          <input 
            type="password" 
            id="password"
            class="form-control"
            name="password"
            ngModel
            required
          >
        </div>
      </div>
      <div class='col-xs-3 form-group move-left'>
          <select 
            class="form-control"
            type='text'
            id='cohort'
            name='cohort'
            ngModel
            required>
              <option *ngFor='let cohort of cohorts'>{{ cohort }}</option>
          </select>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit"
            [disabled]="!f.valid"
          >{{ editMode ? 'Update' : 'Add' }}</button>
          <button 
            class="btn btn-danger" 
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >Delete</button>
          <button 
            class="btn btn-primary" 
            type="button" 
            (click)="onClear()"
          >Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>