<div class="row">
  <div class="col-xs-12">
    <h2>New Cohort: </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-crud-cohort></app-crud-cohort>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Existing Cohorts:</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a 
      class="list-group-item clearfix"
      *ngFor="let cohort of cohorts, let i = index"
      (click)="onEditItem(i)"
      (click)="onSelected()"
      style="cursor: pointer"
      id="{{i}}"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ cohort.cohortName }}</h4>
      </div>
    </a>
  </div>
</div>



<!-- <div class='col-xs-4'>
  <form (ngSubmit)='onSubmit(f)' #f='ngForm'>
    <label>Cohort Name</label>
    <input 
      type='text'
      id='cohortName'
      class='form-control'
      name='cohortName'
      ngModel
      required /><br/>
      <button
        class='btn btn-success'
        type='submit'
        [disabled]='!f.valid'  
      >Add Cohort</button>
  </form>
</div> -->
