<div class="row">
  <div class="col-xs-12">
    <h2>New Cohort: </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-crud-cohort [cohorts]='cohorts'></app-crud-cohort>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Existing Cohorts:</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a 
      class="list-group-item clearfix"
      *ngFor="let cohort of cohorts, let i = index"
      (click)="onEditItem(i)"
      (click)="onSelected()"
      style="cursor: pointer"
      id="{{i}}"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ cohort.info.cohortName }}</h4>
      </div>
    </a>
  </div>
</div>
