<div class="row">
    <div class="col-xs-12">
      <h2>Assignments:</h2>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">
    <app-assignment-list (click)="onDetail($event)" data-toggle="modal" data-target="#detailModal">
      <!-- <ng-template [ngIf]="true">
        <a data-toggle="modal"
        data-target="#detailModal"></a>
      </ng-template> -->
    </app-assignment-list>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="detailModal" role="dialog">
    <app-assignment-detail></app-assignment-detail>
  </div> 
</div>